<%- include('./components/header.ejs')%>
<div class="container">
    <%if(images.length==0){%>
        <h3>Nenhuma Imagem nesse Post!</h3>
        <%}else{%>
            <%for(let i = 0; i < images.length; i++){%>
                <img src="<%=images[i].url%>" width="300" height="250" />
            <%}%>
        <%}%>
</div>
<%- include('./components/footer.ejs')%>