<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
    <title>Trabalho I - WEB II</title>
</head>

<body>
    <nav class="navbar navbar-expand bg-dark navbar-dark">

        <ul class="navbar-nav">
            <li class="nav-item m-1">
                <a class="btn btn-outline-primary" href="/">Home</a>
            </li>
            <li class="nav-item m-1">
                <a class="btn btn-outline-primary" href="/">Posts</a>
            </li>
            <li class="nav-item m-1">
                <a class="btn btn-outline-primary" href="/posts/add-post">Adicionar um novo Post</a>
            </li>
        </ul>
    </nav>

    <div class="card text-white bg-primary text-center">
        <div class="card-header"><h3>Blog Trabalho I - WEB II</h3></div>
    </div>
    <div class="container">
        <%if(locals.msg){%>
            <p class="alert alert-success"><%=msg%></p>
        <%}%>
    </div>